{% extends 'spkcmeans/base.html' %}

{% block content %}
<div class="container">
  <div class="row mt-5">
    <div class="col-lg-12">
      <form class="form" method="post" action="{% url 'editKriteria' kriteria.id_kriteria %}">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-8 col-12">
                <div class="form-group">
                    <input type="text" id="first-name-column" class="form-control"
                    placeholder="" name="id"readonly value="{{ kriteria.id_kriteria }}">
                </div>
            </div>
            <div class="col-md-8 col-12">
                <div class="form-group">
                    <input type="text" id="first-name-column" class="form-control"
                    placeholder="Masukan data disini...." name="kriteria"required value="{{ kriteria.kriteria }}">
                </div>
            </div>
            <div class="col-12 d-flex justify-content-start mt-3">
                <button type="submit" class="btn bg-primary" style="color: white; width: 300px; font-family: monospace; font-weight: bold;">
                  <i class="fa fa-plus"></i> Save</button>
            </div>
            <div class="col-12">
              <a href ="{% url 'kriteria' %}"class="btn btn-secondary mt-4" style="color: white; width: 150px; font-family: monospace; font-weight: bold;">Kembali</a>
            </div>
        </div>
    </form>
    </div>
  </div>
</div>
{% endblock content %}
